Repository lightninglabs/taproot-assets, pull requests merged in 2023-12, with the labels that each got.

#698 Federation envoy re-attempts sync push for issuance proofs
  itest/tapd_harness.go
  itest/test_harness.go
  itest/test_list_on_test.go
  itest/universe_federation_test.go
  rpcserver.go
  tapdb/assets_store_test.go
  tapdb/sqlc/migrations/000013_universe_fed_proof_sync_log.down.sql
  tapdb/sqlc/migrations/000013_universe_fed_proof_sync_log.up.sql
  tapdb/sqlc/models.go
  tapdb/sqlc/querier.go
  tapdb/sqlc/queries/universe.sql
  tapdb/sqlc/universe.sql.go
  tapdb/sqlite.go
  tapdb/sqlutils_test.go
  tapdb/universe_federation.go
  tapdb/universe_federation_test.go
  tapdb/universe_test.go
  tapgarden/caretaker.go
  universe/auto_syncer.go
  universe/interface.go
Labels: universe, proofs

#717 misc: group key testing
  asset/asset.go
  asset/asset_test.go
  asset/mock.go
  commitment/commitment_test.go
  go.mod
  proof/append_test.go
  proof/proof.go
  proof/proof_test.go
  proof/verifier.go
  tapdb/asset_minting_test.go
  tapdb/assets_store_test.go
  tapscript/mint.go
  vm/vm_test.go
Labels: testing

#624 multiverse: add overlay points for universe trees
  cmd/tapcli/universe.go
  fn/either.go
  fn/func.go
  fn/option.go
  internal/test/helpers.go
  itest/universe_test.go
  perms/perms.go
  rpcserver.go
  tapdb/multiverse.go
  tapdb/postgres.go
  tapdb/sqlc/migrations/000014_multiverse_tree.down.sql
  tapdb/sqlc/migrations/000014_multiverse_tree.up.sql
  tapdb/sqlc/models.go
  tapdb/sqlc/querier.go
  tapdb/sqlc/queries/universe.sql
  tapdb/sqlc/universe.sql.go
  tapdb/universe.go
  tapdb/universe_test.go
  taprpc/universerpc/universe.pb.go
  taprpc/universerpc/universe.pb.gw.go
  taprpc/universerpc/universe.pb.json.go
  taprpc/universerpc/universe.proto
  taprpc/universerpc/universe.swagger.json
  taprpc/universerpc/universe.yaml
  taprpc/universerpc/universe_grpc.pb.go
  universe/base.go
  universe/interface.go
Labels: universe

#735 Add means to specify sqlite db file path for tapd test harness and db unit tests
  itest/tapd_harness.go
  itest/test_harness.go
  tapdb/sqlite.go
  tapdb/sqlutils_test.go
  tapdb/test_postgres.go
  tapdb/test_sqlite.go
Labels: backup

#743 Multi-input PSBT spend for homogeneous input asset ID
  itest/psbt_test.go
  itest/test_list_on_test.go
  rpcserver.go
  tapscript/send.go
Labels: psbt

#719 multi: attempt to fix issue of high number of TCP connections by explicitly closing connections and implementing an idle timer
  proof/courier.go
  server.go
  tapfreighter/chain_porter.go
  universe/auto_syncer.go
  universe/base.go
  universe/interface.go
  universe/syncer.go
  universe_rpc_diff.go
  universe_rpc_registrar.go
Labels: optimization, bug fix
