Repository lightninglabs/taproot-assets, pull requests merged in 2023-11, with the labels that each got.

#644 Ensure receiver node backoff retries finally succeed in asset send via universe proof courier
  itest/send_test.go
  itest/universerpc_harness.go
Labels: universe

#626 multi: add new caches for universe proofs, roots, keys, and config
  config.go
  go.mod
  itest/addrs_test.go
  itest/assertions.go
  itest/universe_test.go
  proof/proof.go
  rpcserver.go
  tapcfg/config.go
  tapcfg/server.go
  tapdb/cache_logger.go
  tapdb/multiverse.go
  tapdb/stats_cache_duration.go
  tapdb/stats_cache_duration_itest.go
  tapdb/universe.go
  tapdb/universe_federation.go
  tapdb/universe_stats.go
  tapdb/universe_stats_test.go
  tapdb/universe_test.go
  tapgarden/caretaker.go
  tapgarden/planter.go
  universe/auto_syncer.go
  universe/base.go
  universe/interface.go
  universe/syncer.go
  universe/universe_test.go
  universe_rpc_diff.go
Labels: universe, optimization

#658 tapdb: ensure universe asset stats ticker is stopped before refresh
  tapdb/multiverse.go
  tapdb/universe_stats.go
Labels: performance

#660 chain_bridge: fetch block headers over blocks when verifying proofs
  chain_bridge.go
  go.mod
  go.sum
Labels: p2p

#681 split `enableEmission` into `newGroupedAsset` and `groupedAsset`
  cmd/tapcli/assets.go
  itest/addrs_test.go
  itest/assets_test.go
  itest/collectible_split_test.go
  itest/loadtest/mint_batch_test.go
  itest/mint_batch_stress_test.go
  itest/multi_asset_group_test.go
  itest/re-issuance_test.go
  itest/universe_pagination_test.go
  rpcserver.go
  tapgarden/caretaker.go
  tapgarden/custodian.go
  taprpc/mintrpc/mint.pb.go
  taprpc/mintrpc/mint.proto
  taprpc/mintrpc/mint.swagger.json
Labels: cli
