Repository lightninglabs/taproot-assets, pull requests merged in 2024-12, with the labels that each got.

#1186 Track HTLCs in rfq policies
  chain_bridge.go
  rfq/manager.go
  rfq/order.go
  tapcfg/server.go
Labels: rfq

#1245 [custom channels]: add decimal display to channel funding blob
  address/address.go
  address/address_test.go
  address/book.go
  asset/witness.go
  asset/witness_test.go
  proof/meta.go
  proof/verifier.go
  rfqmsg/custom_channel_data.go
  rpcserver.go
  tapchannel/aux_funding_controller.go
  tapchannelmsg/custom_channel_data.go
  tapchannelmsg/records.go
  tapchannelmsg/records_test.go
  tapdb/addrs.go
  tapdb/assets_store.go
  tapfreighter/parcel.go
  taprpc/marshal.go
  tapsend/send.go
Labels: tap-channels

#1236 [custom channels]: Fix bandwidth manager and other bugs
  docs/examples/basic-price-oracle/go.mod
  docs/examples/basic-price-oracle/go.sum
  go.mod
  go.sum
  rpcserver.go
  server.go
  tapchannel/aux_traffic_shaper.go
  tapchannel/commitment.go
  taprpc/marshal.go
Labels: bug fix

#1248 mod+version: bump lnd to v0.18.4-beta.rc2, bump version to v0.5.0-alpha.rc2
  docs/examples/basic-price-oracle/go.mod
  docs/examples/basic-price-oracle/go.sum
  go.mod
  go.sum
  version.go
Labels: dependencies

#1244 Strict forwarding pt.2
  tapchannel/aux_invoice_manager.go
  tapchannel/aux_invoice_manager_test.go
Labels: tap-channels, htlc

#1252 [custom channels]: enforce minimum amounts
  rfq/order.go
  rfqmath/convert.go
  rfqmath/convert_test.go
  rpcserver.go
  tapchannel/aux_traffic_shaper.go
  taprpc/marshal.go
  taprpc/rfqrpc/rfq.pb.go
  taprpc/rfqrpc/rfq.proto
  taprpc/rfqrpc/rfq.swagger.json
  taprpc/tapchannelrpc/tapchannel.pb.go
  taprpc/tapchannelrpc/tapchannel.proto
  taprpc/tapchannelrpc/tapchannel.swagger.json
Labels: bug fix

#1253 rpc: implement DecodeAssetInvoice
  config.go
  perms/perms.go
  rpcserver.go
  tapcfg/server.go
  taprpc/tapchannelrpc/tapchannel.pb.go
  taprpc/tapchannelrpc/tapchannel.pb.gw.go
  taprpc/tapchannelrpc/tapchannel.proto
  taprpc/tapchannelrpc/tapchannel.swagger.json
  taprpc/tapchannelrpc/tapchannel.yaml
  taprpc/tapchannelrpc/tapchannel_grpc.pb.go
  taprpc/tapchannelrpc/taprootassetchannels.pb.json.go
Labels: enhancement, gRPC, tap-channels
