Repository lightninglabs/taproot-assets, pull requests merged in 2024-11, with the labels that each got.

#1157 rfqmsg: request fields blip align
  asset/asset.go
  itest/rfq_test.go
  rfq/manager.go
  rfq/negotiator.go
  rfq/oracle.go
  rfq/oracle_test.go
  rfq/order.go
  rfqmath/arithmetic.go
  rfqmath/arithmetic_test.go
  rfqmath/convert_test.go
  rfqmath/fixed_point.go
  rfqmsg/buy_request.go
  rfqmsg/records.go
  rfqmsg/records_test.go
  rfqmsg/request.go
  rfqmsg/request_test.go
  rfqmsg/sell_request.go
  rpcserver.go
  tapchannel/aux_traffic_shaper.go
  taprpc/marshal.go
  taprpc/priceoraclerpc/price_oracle.pb.go
  taprpc/priceoraclerpc/price_oracle.proto
  taprpc/priceoraclerpc/price_oracle.swagger.json
  taprpc/rfqrpc/rfq.pb.go
  taprpc/rfqrpc/rfq.proto
  taprpc/rfqrpc/rfq.swagger.json
Labels: rfq

#1187 scripts: use `trap` to make sure old files always restored
  scripts/gen_sqlc_docker.sh
Labels: bug fix

#1177 tapcfg: allow to configure lnd RPC timeout, increase default val
  proof/courier.go
  sample-tapd.conf
  tapcfg/config.go
  tapdb/postgres.go
Labels: config

#1180 tappsbt: add AltLeaf support to vPacket
  address/mock.go
  asset/asset.go
  asset/asset_test.go
  asset/encoding.go
  asset/generators.go
  asset/mock.go
  asset/testdata/rapid/TestAltLeafEncoding_alt_leaf_encode_decode/TestAltLeafEncoding_alt_leaf_encode_decode-20241111171921-1610587.fail
  asset/testdata/rapid/TestAltLeafEncoding_alt_leaf_encode_decode/TestAltLeafEncoding_alt_leaf_encode_decode-20241111172000-1611032.fail
  asset/testdata/rapid/TestAltLeafEncoding_alt_leaf_encode_decode/TestAltLeafEncoding_alt_leaf_encode_decode-20241111172016-1611437.fail
  asset/testdata/rapid/TestAltLeafEncoding_alt_leaf_encode_decode/TestAltLeafEncoding_alt_leaf_encode_decode-20241111172031-1611816.fail
  asset/testdata/rapid/TestAltLeafEncoding_alt_leaf_encode_decode/TestAltLeafEncoding_alt_leaf_encode_decode-20241111172046-1612197.fail
  asset/testdata/rapid/TestAltLeafEncoding_alt_leaf_encode_decode/TestAltLeafEncoding_alt_leaf_encode_decode-20241111172059-1612570.fail
  asset/testdata/rapid/TestAltLeafEncoding_alt_leaf_encode_decode/TestAltLeafEncoding_alt_leaf_encode_decode-20241111172123-1612976.fail
  asset/testdata/rapid/TestAltLeafEncoding_alt_leaf_encode_decode/TestAltLeafEncoding_alt_leaf_encode_decode-20241111172139-1613351.fail
  commitment/commitment_test.go
  commitment/taproot_test.go
  docs/examples/basic-price-oracle/go.mod
  internal/test/helpers.go
  itest/assets_test.go
  make/testing_flags.mk
  proof/append_test.go
  proof/mint_test.go
  proof/proof_test.go
  rfqmsg/request_test.go
  tapchannelmsg/records_test.go
  tapdb/assets_store_test.go
  tappsbt/decode.go
  tappsbt/decode_test.go
  tappsbt/encode.go
  tappsbt/encode_test.go
  tappsbt/interface.go
  tappsbt/mock.go
  tappsbt/testdata/psbt_encoding_generated.json
  tapsend/send_test.go
  vm/vm_test.go
Labels: asset leaves, proofs

#1197 More RFQ improvments
  rfq/manager.go
  rfq/negotiator.go
  rfq/order.go
  rfqmsg/accept.go
  rfqmsg/buy_accept.go
  rfqmsg/buy_request.go
  rfqmsg/messages.go
  rfqmsg/request.go
  rfqmsg/sell_accept.go
  rfqmsg/sell_request.go
  rpcserver.go
  tapchannel/aux_invoice_manager.go
  tapchannel/aux_invoice_manager_test.go
  tapchannel/aux_traffic_shaper.go
  taprpc/marshal.go
Labels: documentation

#1169 [multiverse RPC]: add better universe root node cache
  chain_bridge.go
  rpcserver.go
  sample-tapd.conf
  tapcfg/config.go
  tapcfg/server.go
  tapdb/multiverse.go
  tapdb/multiverse_cache.go
  tapdb/multiverse_cache_test.go
  tapdb/sqlutils_test.go
  tapdb/universe_federation.go
  tapdb/universe_test.go
  tapgarden/custodian_test.go
  universe/interface.go
  universe/syncer.go
Labels: universe, database, performance

#1132 Limit number of HTLCs in custom channel
  docs/examples/basic-price-oracle/go.mod
  docs/examples/basic-price-oracle/go.sum
  go.mod
  go.sum
  psbt_channel_funder.go
  sample-tapd.conf
  server.go
  tapcfg/server.go
  tapchannel/aux_funding_controller.go
  tapchannel/aux_leaf_signer_test.go
Labels: analysis, research, payment-channel, tap-channels

#1181 [tapsend]: Enforce unique script keys
  itest/assertions.go
  itest/fee_estimation_test.go
  itest/send_test.go
  proof/proof_test.go
  tapfreighter/chain_porter.go
  tapfreighter/coin_select.go
  tapfreighter/wallet.go
  tappsbt/interface.go
  tappsbt/interface_test.go
  tapsend/send.go
  tapsend/send_test.go
Labels: assets

#1191 Fee bumping when fee estimation doesn't meet min relay fee
  itest/addrs_test.go
  itest/send_test.go
  itest/test_list_on_test.go
  itest/utils.go
  rpcserver.go
  tapfreighter/chain_porter.go
  tapgarden/planter.go
Labels: chain, fees

#1154 tapchannel: add awareness of 1st and 2nd level HTLC sweeps to the AuxSweeper
  server.go
  tapchannel/allocation.go
  tapchannel/aux_closer.go
  tapchannel/aux_funding_controller.go
  tapchannel/aux_invoice_manager.go
  tapchannel/aux_leaf_creator.go
  tapchannel/aux_leaf_signer.go
  tapchannel/aux_sweeper.go
  tapchannel/commitment.go
  tapchannelmsg/records.go
  tapchannelmsg/records_test.go
  tapdb/assets_store.go
Labels: tap-channels

#1174 tapdb: Add Universe indices, optimize SQL queries, `RWMutex` for cache
  make/testing_flags.mk
  tapdb/migrations.go
  tapdb/sqlc/migrations/000024_universe_optimization_indexes_queries.down.sql
  tapdb/sqlc/migrations/000024_universe_optimization_indexes_queries.up.sql
  tapdb/sqlc/querier.go
  tapdb/sqlc/queries/universe.sql
  tapdb/sqlc/universe.sql.go
  tapdb/universe_perf_long_test.go
  tapdb/universe_perf_short_test.go
  tapdb/universe_perf_test.go
  tapdb/universe_stats.go
Labels: universe, sqlc, performance

#1178 Add `ListBurns` RPC
  cmd/tapcli/assets.go
  itest/burn_test.go
  perms/perms.go
  rpcserver.go
  tapdb/assets_store.go
  tapdb/assets_store_test.go
  tapdb/migrations.go
  tapdb/sqlc/migrations/000025_burns.down.sql
  tapdb/sqlc/migrations/000025_burns.up.sql
  tapdb/sqlc/models.go
  tapdb/sqlc/querier.go
  tapdb/sqlc/queries/transfers.sql
  tapdb/sqlc/transfers.sql.go
  tapfreighter/chain_porter.go
  tapfreighter/interface.go
  tapfreighter/parcel.go
  taprpc/taprootassets.pb.go
  taprpc/taprootassets.pb.gw.go
  taprpc/taprootassets.pb.json.go
  taprpc/taprootassets.proto
  taprpc/taprootassets.swagger.json
  taprpc/taprootassets.yaml
  taprpc/taprootassets_grpc.pb.go
Labels: burning

#1213 [wallet]: fix signing interaction with lnd, allowing restore from seed
  docs/examples/basic-price-oracle/go.mod
  docs/examples/basic-price-oracle/go.sum
  go.mod
  go.sum
  itest/send_test.go
  itest/tapd_harness.go
  itest/test_list_on_test.go
  virtual_tx_signer.go
Labels: wallet, signing

#1209 [custom channels]: generate unique script keys for HTLCs
  tapchannel/allocation_sort.go
  tapchannel/allocation_sort_test.go
  tapchannel/aux_leaf_creator.go
  tapchannel/aux_leaf_signer.go
  tapchannel/aux_leaf_signer_test.go
  tapchannel/aux_sweeper.go
  tapchannel/commitment.go
  tapchannel/log.go
  tapdb/addrs_test.go
  tapdb/sqlc/assets.sql.go
  tapdb/sqlc/queries/assets.sql
  tapsend/send.go
Labels: tap-channels, htlc
