Repository lightninglabs/taproot-assets, pull requests merged in 2024-07, with the labels that each got.

#980 tapdb: remove duplicate assets before adding unique index
  tapdb/migrations_test.go
  tapdb/sqlc/migrations/000020_asset_unique_key.up.sql
  tapdb/testdata/migrations_test_00020_dummy_data.sql
Labels: database, bug fix, tech debt

#987 tapchannel: import funding output proofs for responder during co-op close
  go.mod
  go.sum
  tapcfg/server.go
  tapchannel/aux_closer.go
  tapchannel/aux_sweeper.go
Labels: bug fix, tap-channels

#993 tapdb: Predicate asset-entries-DB update/deletion by duplicate table
  tapdb/sqlc/migrations/000020_asset_unique_key.up.sql
Labels: database

#1004 Add example basic price oracle service
  .github/workflows/main.yaml
  .gitignore
  Makefile
  docs/examples/Makefile
  docs/examples/basic-price-oracle/go.mod
  docs/examples/basic-price-oracle/go.sum
  docs/examples/basic-price-oracle/main.go
  taprpc/priceoraclerpc/marshal.go
  taprpc/priceoraclerpc/marshal_test.go
Labels: rfq

#1021 tapchannel: fix split root when initiator has 0 balance
  tapchannel/commitment.go
Labels: splits, bug fix, panic

#1029 tapchannel: ensure genesis proofs for input assets already known
  address/book.go
  tapcfg/server.go
  tapchannel/aux_funding_controller.go
  tapchannel/aux_traffic_shaper.go
  tapfreighter/wallet.go
Labels: enhancement, tap-channels

#1030 custom channels: more bug fixes
  cmd/tapcli/assets.go
  itest/assertions.go
  itest/utils.go
  rpcserver.go
  tapchannel/aux_funding_controller.go
  tapchannel/commitment.go
  tapdb/assets_store.go
  tapdb/assets_store_test.go
  tapdb/sqlutils_test.go
  taprpc/taprootassets.pb.go
  taprpc/taprootassets.proto
  taprpc/taprootassets.swagger.json
  tapsend/send.go
  tapsend/send_test.go
Labels: splits, assets, bug fix, itests, tap-channels

#1033 tapchannel: use defer to ensure lease unlocked if funding failure
  tapchannel/aux_funding_controller.go
Labels: bug fix, tap-channels

#1036 Improve Clarity in ChainPorter State Names
  itest/psbt_test.go
  tapfreighter/chain_porter.go
  tapfreighter/parcel.go
Labels: proofs

#865 Add asset specifier
  address/address.go
  asset/asset.go
  commitment/asset.go
  rpcserver.go
  tapdb/assets_store.go
  tapdb/assets_store_test.go
  tapfreighter/coin_select.go
  tapfreighter/interface.go
  tapfreighter/wallet.go
  tapsend/send.go
  tapsend/send_test.go
Labels: assets, code health, group_key

#1032 tapdb+rpc: return lease owner and expiry for managed UTXOs
  rpcserver.go
  tapdb/assets_store.go
  tapdb/assets_store_test.go
  taprpc/taprootassets.pb.go
  taprpc/taprootassets.proto
  taprpc/taprootassets.swagger.json
Labels: enhancement, gRPC

#1031 tapgarden: improve fault injection in unit tests
  tapgarden/mock.go
  tapgarden/planter_test.go
Labels: unit-test

#1035 Store transfer output proof delivery status
  tapdb/assets_store.go
  tapdb/assets_store_test.go
  tapdb/migrations.go
  tapdb/sqlc/migrations/000022_transfer_outputs_proof_delivered.down.sql
  tapdb/sqlc/migrations/000022_transfer_outputs_proof_delivered.up.sql
  tapdb/sqlc/models.go
  tapdb/sqlc/querier.go
  tapdb/sqlc/queries/transfers.sql
  tapdb/sqlc/transfers.sql.go
  tapfreighter/chain_porter.go
  tapfreighter/interface.go
  tapfreighter/parcel.go
Labels: documentation, proofs, database, testing, logging, unit-test
