Repository lightninglabs/taproot-assets, pull requests merged in 2024-04, with the labels that each got.

#836 [events API 1/2]: Add new send and receive streaming RPCs
  address/address.go
  address/book.go
  address/event.go
  cmd/tapcli/events.go
  cmd/tapcli/main.go
  config.go
  itest/addrs_test.go
  itest/assertions.go
  itest/burn_test.go
  itest/collectible_split_test.go
  itest/fee_estimation_test.go
  itest/full_value_split_test.go
  itest/interface.go
  itest/multi_asset_group_test.go
  itest/psbt_test.go
  itest/re-issuance_test.go
  itest/re-org_test.go
  itest/round_trip_send_test.go
  itest/send_test.go
  itest/utils.go
  perms/perms.go
  rpcserver.go
  tapcfg/server.go
  tapdb/addrs.go
  tapdb/addrs_test.go
  tapdb/sqlc/addrs.sql.go
  tapdb/sqlc/querier.go
  tapdb/sqlc/queries/addrs.sql
  tapfreighter/chain_porter.go
  tapfreighter/interface.go
  tapgarden/batch.go
  tapgarden/custodian.go
  tappsbt/interface.go
  taprpc/tapdevrpc/tapdev.pb.go
  taprpc/tapdevrpc/tapdev.proto
  taprpc/tapdevrpc/tapdev.swagger.json
  taprpc/tapdevrpc/tapdev.yaml
  taprpc/tapdevrpc/tapdev_grpc.pb.go
  taprpc/taprootassets.pb.go
  taprpc/taprootassets.pb.gw.go
  taprpc/taprootassets.pb.json.go
  taprpc/taprootassets.proto
  taprpc/taprootassets.swagger.json
  taprpc/taprootassets.yaml
  taprpc/taprootassets_grpc.pb.go
  tapsend/proof.go
Labels: gRPC, receive, sending

#860 RFQ cleanup
  itest/rfq_test.go
  rfqmsg/buy_accept.go
  rfqmsg/buy_accept_test.go
  taprpc/rfqrpc/rfq.pb.go
  taprpc/rfqrpc/rfq.proto
  taprpc/rfqrpc/rfq.swagger.json
Labels: code health, rfq

#861 Add RFQ buy offer
  itest/rfq_test.go
  perms/perms.go
  rfq/manager.go
  rfq/negotiator.go
  rfqmsg/reject.go
  rpcserver.go
  taprpc/rfqrpc/rfq.pb.go
  taprpc/rfqrpc/rfq.pb.gw.go
  taprpc/rfqrpc/rfq.pb.json.go
  taprpc/rfqrpc/rfq.proto
  taprpc/rfqrpc/rfq.swagger.json
  taprpc/rfqrpc/rfq.yaml
  taprpc/rfqrpc/rfq_grpc.pb.go
Labels: rfq

#853 [events API 2/2]: Add new mint streaming RPC, notify on errors, replay previous send/receive events
  address/event.go
  cmd/tapcli/events.go
  itest/assertions.go
  itest/utils.go
  perms/perms.go
  rpcserver.go
  tapdb/addrs.go
  tapdb/addrs_test.go
  tapdb/sqlc/addrs.sql.go
  tapdb/sqlc/queries/addrs.sql
  tapfreighter/chain_porter.go
  tapgarden/caretaker.go
  tapgarden/custodian.go
  tapgarden/interface.go
  tapgarden/planter.go
  taprpc/mintrpc/mint.pb.go
  taprpc/mintrpc/mint.pb.gw.go
  taprpc/mintrpc/mint.pb.json.go
  taprpc/mintrpc/mint.proto
  taprpc/mintrpc/mint.swagger.json
  taprpc/mintrpc/mint.yaml
  taprpc/mintrpc/mint_grpc.pb.go
  taprpc/taprootassets.pb.go
  taprpc/taprootassets.proto
  taprpc/taprootassets.swagger.json
Labels: user request

#869 itest: small fixes for tapd load test
  itest/loadtest/mint_batch_test.go
  itest/utils.go
Labels: testing, performance

#827 tapgarden: add FundBatch and SealBatch requests
  asset/asset.go
  asset/asset_test.go
  asset/mock.go
  commitment/commitment_test.go
  fn/iter.go
  go.mod
  internal/test/helpers.go
  tapcfg/config.go
  tapcfg/server.go
  tapdb/asset_minting.go
  tapdb/asset_minting_test.go
  tapdb/assets_common.go
  tapdb/assets_store_test.go
  tapdb/sqlc/assets.sql.go
  tapdb/sqlc/migrations/000017_seedling_script_group_keys.down.sql
  tapdb/sqlc/migrations/000017_seedling_script_group_keys.up.sql
  tapdb/sqlc/models.go
  tapdb/sqlc/queries/assets.sql
  tapgarden/batch.go
  tapgarden/caretaker.go
  tapgarden/interface.go
  tapgarden/mock.go
  tapgarden/planter.go
  tapgarden/planter_test.go
  tapgarden/seedling.go
Labels: batching, group_key

#858 Use new `WalletKit.FundPsbt` coin selection option
  go.mod
  go.sum
  itest/assertions.go
  itest/fee_estimation_test.go
  itest/integration_test.go
  itest/utils.go
  tapcfg/config.go
  tapfreighter/wallet.go
  tapgarden/interface.go
  tapgarden/mock.go
  tapgarden/planter.go
  tapgarden/planter_test.go
  wallet_anchor.go
Labels: wallet, coin selection, lnd
