Repository lightninglabs/taproot-assets, pull requests merged in 2024-10, with the labels that each got.

#1126 Startup related fixes
  rpcperms/interceptor.go
  server.go
Labels: bug fix

#1136 Part 1: RFQ uses fixed-points
  docs/examples/basic-price-oracle/go.mod
  docs/examples/basic-price-oracle/go.sum
  docs/examples/basic-price-oracle/main.go
  rfq/cli.go
  rfq/negotiator.go
  rfq/negotiator_test.go
  rfq/oracle.go
  rfq/oracle_test.go
  rfq/order.go
  rfqmath/arithmetic.go
  rfqmath/convert.go
  rfqmath/convert_test.go
  rfqmath/fixed_point.go
  rfqmsg/accept.go
  rfqmsg/buy_accept.go
  rfqmsg/buy_request.go
  rfqmsg/messages.go
  rfqmsg/request.go
  rfqmsg/sell_accept.go
  rfqmsg/sell_request.go
  rpcserver.go
  tapcfg/server.go
  tapchannel/aux_invoice_manager.go
  tapchannel/aux_traffic_shaper.go
  taprpc/marshal.go
  taprpc/priceoraclerpc/marshal.go
  taprpc/priceoraclerpc/price_oracle.pb.go
  taprpc/priceoraclerpc/price_oracle.proto
  taprpc/priceoraclerpc/price_oracle.swagger.json
  taprpc/rfqrpc/marshal.go
  taprpc/rfqrpc/rfq.pb.go
  taprpc/rfqrpc/rfq.proto
  taprpc/rfqrpc/rfq.swagger.json
  taprpc/tapchannelrpc/tapchannel.swagger.json
Labels: gRPC, bLIP, rfq

#1153 rfqmath: simplify price oracle rate example
  rfqmath/convert_test.go
Labels: rfq

#1151 tapd: fix L1 assets balance calculation
  tapchannel/aux_closer.go
  tapchannel/aux_funding_controller.go
  tapchannel/aux_sweeper.go
  tapdb/assets_store.go
  tapdb/assets_store_test.go
  tapdb/sqlc/assets.sql.go
  tapdb/sqlc/queries/assets.sql
  tapscript/script.go
  tapscript/script_test.go
Labels: database, ux

#1155 Merge feature-branch RFQ fixedpoint commits into main
  docs/examples/basic-price-oracle/go.mod
  docs/examples/basic-price-oracle/go.sum
  docs/examples/basic-price-oracle/main.go
  rfq/cli.go
  rfq/negotiator.go
  rfq/negotiator_test.go
  rfq/oracle.go
  rfq/oracle_test.go
  rfq/order.go
  rfqmath/arithmetic.go
  rfqmath/convert.go
  rfqmath/convert_test.go
  rfqmath/fixed_point.go
  rfqmsg/accept.go
  rfqmsg/accept_test.go
  rfqmsg/buy_accept.go
  rfqmsg/buy_request.go
  rfqmsg/messages.go
  rfqmsg/messages_test.go
  rfqmsg/records.go
  rfqmsg/request.go
  rfqmsg/request_test.go
  rfqmsg/sell_accept.go
  rfqmsg/sell_request.go
  rpcserver.go
  tapcfg/server.go
  tapchannel/aux_invoice_manager.go
  tapchannel/aux_traffic_shaper.go
  taprpc/marshal.go
  taprpc/priceoraclerpc/marshal.go
  taprpc/priceoraclerpc/price_oracle.pb.go
  taprpc/priceoraclerpc/price_oracle.proto
  taprpc/priceoraclerpc/price_oracle.swagger.json
  taprpc/rfqrpc/marshal.go
  taprpc/rfqrpc/rfq.pb.go
  taprpc/rfqrpc/rfq.proto
  taprpc/rfqrpc/rfq.swagger.json
  taprpc/tapchannelrpc/tapchannel.swagger.json
Labels: rfq

#1156 Remove remaining instances of "rate tick" from RFQ systems
  docs/examples/basic-price-oracle/main.go
  rfq/manager.go
  rfq/negotiator.go
  rfq/oracle.go
  rfq/oracle_test.go
  rfqmsg/accept.go
  rfqmsg/accept_test.go
  rfqmsg/request.go
  rfqmsg/request_test.go
  taprpc/priceoraclerpc/price_oracle.pb.go
  taprpc/priceoraclerpc/price_oracle.pb.gw.go
  taprpc/priceoraclerpc/price_oracle.proto
  taprpc/priceoraclerpc/price_oracle.swagger.json
  taprpc/priceoraclerpc/price_oracle.yaml
  taprpc/priceoraclerpc/price_oracle_grpc.pb.go
  taprpc/priceoraclerpc/priceoracle.pb.json.go
  taprpc/rfqrpc/rfq.pb.go
  taprpc/rfqrpc/rfq.proto
  taprpc/rfqrpc/rfq.swagger.json
Labels: rfq

#1160 Ensure that asset rate hint expiry timestamps are passed to price oracle
  rfq/negotiator.go
  rfq/oracle.go
  rfq/oracle_test.go
  rfqmsg/buy_accept.go
  rfqmsg/buy_request.go
  rfqmsg/messages.go
  rfqmsg/request.go
  rfqmsg/sell_accept.go
  rfqmsg/sell_request.go
  taprpc/priceoraclerpc/marshal.go
Labels: rfq

#1144 tapchannel: enforce strict forwarding for asset invoices
  docs/examples/basic-price-oracle/go.mod
  docs/examples/basic-price-oracle/go.sum
  docs/examples/basic-price-oracle/main.go
  go.mod
  go.sum
  monitoring/monitoring_on.go
  monitoring/prometheus.go
  rfq/manager.go
  rfq/oracle.go
  tapchannel/aux_invoice_manager.go
  tapchannel/aux_invoice_manager_test.go
Labels: testing, tap-channels
