Repository lightninglabs/taproot-assets, pull requests merged in 2024-05, with the labels that each got.

#866 tapgarden: implement SealBatch
  asset/asset.go
  cmd/tapcli/assets.go
  internal/test/helpers.go
  itest/assertions.go
  itest/assets_test.go
  itest/mint_fund_seal_test.go
  itest/multisig.go
  itest/psbt_test.go
  itest/test_harness.go
  itest/test_list_on_test.go
  itest/utils.go
  monitoring/garden_collector.go
  perms/perms.go
  rpcserver.go
  tapdb/asset_minting.go
  tapdb/assets_common.go
  tapdb/assets_store.go
  tapgarden/batch.go
  tapgarden/interface.go
  tapgarden/planter.go
  tapgarden/planter_test.go
  taprpc/marshal.go
  taprpc/mintrpc/mint.pb.go
  taprpc/mintrpc/mint.pb.gw.go
  taprpc/mintrpc/mint.pb.json.go
  taprpc/mintrpc/mint.proto
  taprpc/mintrpc/mint.swagger.json
  taprpc/mintrpc/mint.yaml
  taprpc/mintrpc/mint_grpc.pb.go
  taprpc/taprootassets.pb.go
  taprpc/taprootassets.proto
  taprpc/taprootassets.swagger.json
  taprpc/universerpc/universe.swagger.json
Labels: enhancement, batching

#904 RFQ modifications derived from the tap channels proof-of-concept
  cmd/tapd/main.go
  go.mod
  go.sum
  itest/mock.go
  itest/rfq_test.go
  itest/tapd_harness.go
  itest/test_list_on_test.go
  rfq/custom_channel_data.go
  rfq/manager.go
  rfq/negotiator.go
  rfq/oracle.go
  rfq/order.go
  rfq/records.go
  rfqmsg/buy_accept.go
  rfqmsg/buy_accept_test.go
  rfqmsg/buy_request.go
  rfqmsg/messages.go
  rfqmsg/reject.go
  rfqmsg/reject_test.go
  rfqmsg/sell_accept.go
  rfqmsg/sell_accept_test.go
  rfqmsg/sell_request.go
  rpcserver.go
  server.go
  tapcfg/server.go
  taprpc/marshal.go
  taprpc/rfqrpc/rfq.pb.go
  taprpc/rfqrpc/rfq.proto
  taprpc/rfqrpc/rfq.swagger.json
  wallet_anchor.go
Labels: rfq, tap-channels

#878 [custom channels 1/3]: create aux leaf store and tlv.Blob decoders
  chain_bridge.go
  cmd/tapcli/main.go
  cmd/tapcli/rfq.go
  cmd/tapd/main.go
  commitment/taproot.go
  config.go
  go.mod
  go.sum
  itest/mock.go
  itest/rfq_test.go
  itest/tapd_harness.go
  log.go
  proof/taproot.go
  proof/taproot_test.go
  rfq/manager.go
  rfq/order.go
  rfqmsg/custom_channel_data.go
  rfqmsg/records.go
  rfqmsg/records_test.go
  rpcserver.go
  server.go
  tapcfg/server.go
  tapchannel/allocation.go
  tapchannel/allocation_sort.go
  tapchannel/allocation_sort_test.go
  tapchannel/allocation_test.go
  tapchannel/aux_leaf_creator.go
  tapchannel/commitment.go
  tapchannel/log.go
  tapchannelmsg/custom_channel_data.go
  tapchannelmsg/records.go
  tapchannelmsg/records_test.go
  tapchannelmsg/testdata/odd-block.hex
  tapfreighter/wallet.go
  tapgarden/caretaker.go
  taprpc/rfqrpc/rfq.pb.go
  taprpc/rfqrpc/rfq.proto
  taprpc/rfqrpc/rfq.swagger.json
  taprpc/rfqrpc/rfq_grpc.pb.go
  tapsend/proof.go
  tapsend/proof_test.go
Labels: tap-channels

#911 Add version fields to RFQ wire messages
  rfqmsg/buy_accept.go
  rfqmsg/buy_accept_test.go
  rfqmsg/buy_request.go
  rfqmsg/buy_request_test.go
  rfqmsg/messages.go
  rfqmsg/reject.go
  rfqmsg/reject_test.go
  rfqmsg/sell_accept.go
  rfqmsg/sell_accept_test.go
  rfqmsg/sell_request.go
  rfqmsg/sell_request_test.go
Labels: version, rfq

#882 [custom channels 3/3]: add FundingController to manage channel asset funding
  chain_bridge.go
  config.go
  perms/perms.go
  proof/verifier.go
  psbt_channel_funder.go
  rpcserver.go
  server.go
  tapcfg/server.go
  tapchannel/aux_funding_controller.go
  tapchannel/script.go
  tapchannelmsg/wire_msgs.go
  tapchannelmsg/wire_msgs_test.go
  taprpc/gen_protos.sh
  taprpc/tapchannelrpc/tapchannel.pb.go
  taprpc/tapchannelrpc/tapchannel.pb.gw.go
  taprpc/tapchannelrpc/tapchannel.proto
  taprpc/tapchannelrpc/tapchannel.swagger.json
  taprpc/tapchannelrpc/tapchannel.yaml
  taprpc/tapchannelrpc/tapchannel_grpc.pb.go
  taprpc/tapchannelrpc/taprootassetchannels.pb.json.go
  taprpc/taprootassets.proto
Labels: tap-channels

#912 [custom channels 4/3]: add traffic shaper and invoice manager implementations
  chain_bridge.go
  config.go
  go.mod
  go.sum
  itest/assertions.go
  itest/rfq_test.go
  itest/round_trip_send_test.go
  proof/proof_test.go
  proof/testdata/proof.hex
  proof/verifier.go
  rfq/order.go
  rfqmsg/records.go
  rpcserver.go
  server.go
  tapcfg/server.go
  tapchannel/allocation.go
  tapchannel/aux_invoice_manager.go
  tapchannel/aux_leaf_creator.go
  tapchannel/aux_traffic_shaper.go
  tapchannel/commitment.go
  tapscript/util.go
Labels: proofs, commitments, tap-channels, lnd
