Repository lightninglabs/taproot-assets, pull requests merged in 2024-06, with the labels that each got.

#919 tapchannel: add new AuxChanCloser to enable co-op close for asset channels
  address/book.go
  asset/asset.go
  config.go
  go.mod
  go.sum
  perms/perms.go
  proof/archive.go
  proof/verifier.go
  rfqmsg/custom_channel_data.go
  rpcserver.go
  server.go
  tapcfg/server.go
  tapchannel/allocation.go
  tapchannel/aux_closer.go
  tapchannel/aux_funding_controller.go
  tapchannelmsg/custom_channel_data.go
  tapchannelmsg/records.go
  tapchannelmsg/records_test.go
  tapdb/addrs.go
  tapdb/asset_minting.go
  tapdb/assets_store.go
  tapdb/assets_store_test.go
  tapdb/sqlc/addrs.sql.go
  tapdb/sqlc/assets.sql.go
  tapdb/sqlc/migrations/000018_script_key_declared_known.down.sql
  tapdb/sqlc/migrations/000018_script_key_declared_known.up.sql
  tapdb/sqlc/models.go
  tapdb/sqlc/queries/addrs.sql
  tapdb/sqlc/queries/assets.sql
  tapdb/sqlc/queries/transfers.sql
  tapdb/sqlc/transfers.sql.go
  tapfreighter/interface.go
  tapfreighter/wallet.go
  tapgarden/custodian.go
  taprpc/assetwalletrpc/assetwallet.pb.go
  taprpc/assetwalletrpc/assetwallet.pb.gw.go
  taprpc/assetwalletrpc/assetwallet.pb.json.go
  taprpc/assetwalletrpc/assetwallet.proto
  taprpc/assetwalletrpc/assetwallet.swagger.json
  taprpc/assetwalletrpc/assetwallet.yaml
  taprpc/assetwalletrpc/assetwallet_grpc.pb.go
  taprpc/marshal.go
  taprpc/tapchannelrpc/tapchannel.pb.go
  taprpc/tapchannelrpc/tapchannel.pb.gw.go
  taprpc/tapchannelrpc/tapchannel.proto
  taprpc/tapchannelrpc/tapchannel.swagger.json
  taprpc/tapchannelrpc/tapchannel.yaml
  taprpc/tapchannelrpc/tapchannel_grpc.pb.go
  taprpc/tapchannelrpc/taprootassetchannels.pb.json.go
  taprpc/taprootassets.pb.go
  taprpc/taprootassets.proto
  taprpc/taprootassets.swagger.json
  taprpc/universerpc/universe.swagger.json
  vm/vm.go
Labels: assets

#921 Reduce RFQ wire message type count
  rfqmsg/buy_request.go
  rfqmsg/buy_request_test.go
  rfqmsg/messages.go
  rfqmsg/records.go
  rfqmsg/request.go
  rfqmsg/request_test.go
  rfqmsg/sell_request.go
  rfqmsg/sell_request_test.go
Labels: rfq

#928 rfq+tapchannel: track locally accepted quotes in manager
  rfq/manager.go
  tapchannel/aux_invoice_manager.go
Labels: tap-channels

#931 RFQ enrich incoming accept messages with sent requests
  rfq/manager.go
  rfq/negotiator.go
  rfq/order.go
  rfq/stream.go
  rfqmsg/buy_accept.go
  rfqmsg/sell_accept.go
  tapchannel/aux_traffic_shaper.go
Labels: rfq

#927 Enhance universe server/syncing CLI config control
  config.go
  itest/tapd_harness.go
  perms/perms.go
  server.go
  tapcfg/config.go
  tapcfg/server.go
  universe/auto_syncer.go
Labels: universe, cli, syncing

#937 Add general RFQ accept wire msg type
  rfq/negotiator.go
  rfq/order.go
  rfqmsg/accept.go
  rfqmsg/accept_test.go
  rfqmsg/buy_accept.go
  rfqmsg/buy_accept_test.go
  rfqmsg/messages.go
  rfqmsg/sell_accept.go
  rfqmsg/sell_accept_test.go
  rpcserver.go
  taprpc/marshal.go
Labels: rfq

#854 tapd: temporarily increase query stats cache from 80k to 200k
  tapdb/multiverse.go
  tapdb/schemas.go
  tapdb/universe_stats.go
Labels: universe, bug fix

#939 More custom channel bugfixes
  cmd/tapd/main.go
  config.go
  go.mod
  go.sum
  itest/tapd_harness.go
  psbt_channel_funder.go
  rpcserver.go
  tapcfg/server.go
  tapchannel/allocation.go
  tapchannel/aux_closer.go
  tapchannel/aux_funding_controller.go
  tapchannel/commitment.go
  tapchannel/log.go
  tapchannelmsg/records.go
  tapchannelmsg/records_test.go
  taprpc/tapchannelrpc/tapchannel.pb.go
  taprpc/tapchannelrpc/tapchannel.proto
  taprpc/tapchannelrpc/tapchannel.swagger.json
  tapsend/send.go
  vm/vm.go
Labels: bug fix, payment-channel

#941 tapgarden: batch restart fixes
  itest/assets_test.go
  itest/test_list_on_test.go
  rpcserver.go
  tapdb/asset_minting.go
  tapgarden/caretaker.go
  tapgarden/interface.go
  tapgarden/planter.go
Labels: bug fix

#959 tapchannelmsg: increase channel data reader max record size
  tapchannelmsg/custom_channel_data.go
Labels: tap-channels

#962 server+tapchannel: modify PaymentBandwidth to return link bandwidth
  go.mod
  go.sum
  log.go
  server.go
  tapchannel/aux_leaf_creator.go
  tapchannel/aux_leaf_signer.go
  tapchannel/aux_traffic_shaper.go
  tapchannel/commitment.go
Labels: tap-channels, lnd

#938 tapchannel: implement new AuxSweeper sub-system
  address/book.go
  asset/asset.go
  config.go
  fn/func.go
  go.mod
  go.sum
  proof/append.go
  server.go
  tapcfg/server.go
  tapchannel/aux_closer.go
  tapchannel/aux_funding_controller.go
  tapchannel/aux_leaf_signer.go
  tapchannel/aux_sweeper.go
  tapchannel/commitment.go
  tapchannelmsg/records.go
  tapchannelmsg/records_test.go
  tapdb/assets_store.go
  tapfreighter/chain_porter.go
  tapfreighter/interface.go
  tapsend/proof.go
  vm/vm.go
  vm/vm_test.go
Labels: payment-channel, tap-channels

#954 Fix proof storage clobber error for postgres backend
  itest/addrs_test.go
  itest/assertions.go
  tapdb/asset_minting.go
  tapdb/assets_store.go
  tapdb/interfaces.go
  tapdb/sqlc/assets.sql.go
  tapdb/sqlc/querier.go
  tapdb/sqlc/queries/assets.sql
  tapdb/sqlerrors.go
Labels: database, bug fix, postgres

#969 Add field `UnconfirmedTransfers` to RPC endpoint `ListAssets`
  itest/multi_send_test.go
  rpcserver.go
  taprpc/taprootassets.pb.go
  taprpc/taprootassets.proto
  taprpc/taprootassets.swagger.json
Labels: assets, APIs, gRPC

#970 tapchannel: update lnd dep and fix bug in breach handling
  go.mod
  go.sum
  server.go
  tapchannel/aux_sweeper.go
  tapfreighter/chain_porter.go
Labels: tap-channels

#975 tapchannel: use taproot overlay chan type for asset chans
  go.mod
  go.sum
  psbt_channel_funder.go
Labels: tap-channels

#981 github: check out release tag before building
  .github/workflows/release.yaml
Labels: build
