Repository lightninglabs/taproot-assets, pull requests merged in 2024-03, with the labels that each got.

#805 [psbt saga part 2/4]: preparation: refactor send logic, make passive assets independent
  itest/assertions.go
  itest/burn_test.go
  itest/psbt_test.go
  proof/append.go
  proof/append_test.go
  proof/archive.go
  proof/archive_test.go
  proof/courier_test.go
  proof/mint.go
  proof/mint_test.go
  proof/mock.go
  proof/proof_test.go
  proof/verifier.go
  rpcserver.go
  tapcfg/server.go
  tapdb/asset_minting.go
  tapdb/asset_minting_test.go
  tapdb/assets_store.go
  tapdb/assets_store_test.go
  tapdb/sqlutils_test.go
  tapfreighter/chain_porter.go
  tapfreighter/interface.go
  tapfreighter/parcel.go
  tapfreighter/wallet.go
  tapgarden/batch.go
  tapgarden/caretaker.go
  tapgarden/custodian.go
  tapgarden/custodian_test.go
  tapgarden/interface.go
  tapgarden/mock.go
  tapgarden/planter.go
  tapgarden/planter_test.go
  tapgarden/re-org_watcher.go
  tappsbt/interface.go
  taprpc/assetwalletrpc/assetwallet.swagger.json
  taprpc/taprootassets.pb.go
  taprpc/taprootassets.proto
  taprpc/taprootassets.swagger.json
  tapsend/proof.go
  tapsend/proof_test.go
  tapsend/send.go
  tapsend/send_test.go
  universe/base.go
  wallet_anchor.go
Labels: refactoring

#814 Refactor the RFQ service to handle payment init via asset sale
  rfq/manager.go
  rfq/negotiator.go
  rfq/oracle.go
  rfq/order.go
  rfqmsg/buy_accept.go
  rfqmsg/buy_accept_test.go
  rfqmsg/buy_request.go
  rfqmsg/buy_request_test.go
  rfqmsg/messages.go
  rfqmsg/reject.go
  rpcserver.go
Labels: rfq

#787 [psbt saga part 3/4]: taprpc: add CommitVirtualPsbts and PublishAndLogTransfer RPC methods
  commitment/asset.go
  fn/errors.go
  go.mod
  go.sum
  itest/assertions.go
  itest/psbt_test.go
  itest/re-org_test.go
  itest/send_test.go
  itest/tapd_harness.go
  itest/test_harness.go
  itest/test_list_on_test.go
  itest/universe_federation_test.go
  itest/universe_pagination_test.go
  itest/utils.go
  perms/perms.go
  proof/proof.go
  rpcserver.go
  tapfreighter/chain_porter.go
  tapfreighter/parcel.go
  tapfreighter/wallet.go
  tapgarden/interface.go
  tapgarden/mock.go
  tapgarden/re-org_watcher.go
  taprpc/assetwalletrpc/assetwallet.pb.go
  taprpc/assetwalletrpc/assetwallet.pb.gw.go
  taprpc/assetwalletrpc/assetwallet.pb.json.go
  taprpc/assetwalletrpc/assetwallet.proto
  taprpc/assetwalletrpc/assetwallet.swagger.json
  taprpc/assetwalletrpc/assetwallet.yaml
  taprpc/assetwalletrpc/assetwallet_grpc.pb.go
  tapsend/send.go
  tapsend/send_test.go
  wallet_anchor.go
Labels: psbt

#821 [psbt saga 5/4]: Anchor multiple virtual transactions
  asset/asset.go
  itest/multi_send_test.go
  itest/test_list_on_test.go
  rpcserver.go
  tapfreighter/chain_porter.go
  tapfreighter/parcel.go
  tapfreighter/wallet.go
  tappsbt/interface.go
  taprpc/assetwalletrpc/assetwallet.pb.go
  taprpc/assetwalletrpc/assetwallet.proto
  taprpc/assetwalletrpc/assetwallet.swagger.json
  taprpc/assetwalletrpc/assetwallet_grpc.pb.go
Labels: psbt

#851 makefile: fix `build-itest` command failure when `vendor` dir present
  Makefile
Labels: bug fix, itests

#804 itest: trustless swap based on vPSBT/PSBT sighash flags
  itest/addrs_test.go
  itest/psbt_test.go
  itest/test_list_on_test.go
Labels: psbt, swaps

#835 Add asset sell support to the RFQ service
  itest/rfq_test.go
  itest/test_list_on_test.go
  perms/perms.go
  rfq/manager.go
  rfq/negotiator.go
  rfq/order.go
  rfq/stream.go
  rfqmsg/messages.go
  rfqmsg/sell_accept.go
  rfqmsg/sell_accept_test.go
  rfqmsg/sell_request.go
  rfqmsg/sell_request_test.go
  rpcserver.go
  taprpc/rfqrpc/rfq.pb.go
  taprpc/rfqrpc/rfq.pb.gw.go
  taprpc/rfqrpc/rfq.pb.json.go
  taprpc/rfqrpc/rfq.proto
  taprpc/rfqrpc/rfq.swagger.json
  taprpc/rfqrpc/rfq.yaml
  taprpc/rfqrpc/rfq_grpc.pb.go
Labels: rfq

#862 tapgarden: check for ErrProofNotFound when checking for local proof file
  tapgarden/custodian.go
Labels: proofs, bug fix, receive
