Repository lightninglabs/taproot-assets, pull requests merged in 2024-09, with the labels that each got.

#1115 [wallet]: only select BIP-86 script keys for channel funding, add flag to FundVirtualPsbt
  itest/mint_fund_seal_test.go
  rpcserver.go
  tapchannel/aux_funding_controller.go
  tapdb/assets_store.go
  tapdb/assets_store_test.go
  tapfreighter/chain_porter.go
  tapfreighter/coin_select.go
  tapfreighter/interface.go
  tapfreighter/wallet.go
  taprpc/assetwalletrpc/assetwallet.pb.go
  taprpc/assetwalletrpc/assetwallet.proto
  taprpc/assetwalletrpc/assetwallet.swagger.json
  tapsend/send.go
Labels: bug fix

#1059 README+docs: create document explaining decimal display and RFQ, add reference implementation
  README.md
  docs/rfq-and-decimal-display.md
  go.mod
  go.sum
  rfq/README.md
  rfqmath/README.md
  rfqmath/arithmetic.go
  rfqmath/arithmetic_test.go
  rfqmath/convert.go
  rfqmath/convert_test.go
  rfqmath/fixed_point.go
  rfqmath/fixed_point_test.go
  rfqmath/testdata/rapid/TestAddition_big_int/TestAddition_big_int-20240820164933-66012.fail
  rfqmath/testdata/rapid/TestAddition_big_int/TestAddition_big_int-20240820170908-69698.fail
  rfqmath/testdata/rapid/TestAddition_go_uint_64/TestAddition_go_uint_64-20240820164933-66012.fail
  rfqmath/testdata/rapid/TestArithmeticDivision_big_int/TestArithmeticDivision_big_int-20240820172818-75296.fail
  rfqmath/testdata/rapid/TestArithmeticDivision_go_uint_64/TestArithmeticDivision_go_uint_64-20240820172818-75296.fail
  rfqmath/testdata/rapid/TestArithmeticDivision_go_uint_64/TestArithmeticDivision_go_uint_64-20240820172845-75480.fail
  rfqmath/testdata/rapid/TestArithmeticDivision_go_uint_64/TestArithmeticDivision_go_uint_64-20240820173239-76566.fail
  rfqmath/testdata/rapid/TestArithmeticDivision_go_uint_64/TestArithmeticDivision_go_uint_64-20240820173647-77930.fail
  rfqmath/testdata/rapid/TestConversionMsat_msat_to_units/TestConversionMsat_msat_to_units-20240820192921-7922.fail
  rfqmath/testdata/rapid/TestConversionMsat_msat_to_units/TestConversionMsat_msat_to_units-20240820193036-8326.fail
  rfqmath/testdata/rapid/TestConversionMsat_msat_to_units/TestConversionMsat_msat_to_units-20240820193141-8834.fail
  rfqmath/testdata/rapid/TestConversionMsat_msat_to_units/TestConversionMsat_msat_to_units-20240820193235-9334.fail
  rfqmath/testdata/rapid/TestConversionMsat_msat_to_units/TestConversionMsat_msat_to_units-20240820193356-9930.fail
  rfqmath/testdata/rapid/TestConversionMsat_msat_to_units/TestConversionMsat_msat_to_units-20240820193746-11254.fail
  rfqmath/testdata/rapid/TestConversionMsat_msat_to_units/TestConversionMsat_msat_to_units-20240820193828-11692.fail
  rfqmath/testdata/rapid/TestConversionMsat_msat_to_units/TestConversionMsat_msat_to_units-20240820194002-12447.fail
  rfqmath/testdata/rapid/TestConversionMsat_msat_to_units/TestConversionMsat_msat_to_units-20240820194225-13596.fail
  rfqmath/testdata/rapid/TestConversionMsat_roundtrip_conversion/TestConversionMsat_roundtrip_conversion-20240820200712-26765.fail
  rfqmath/testdata/rapid/TestConversionMsat_roundtrip_conversion/TestConversionMsat_roundtrip_conversion-20240820200825-27273.fail
  rfqmath/testdata/rapid/TestConversionMsat_roundtrip_conversion/TestConversionMsat_roundtrip_conversion-20240913124134-254478.fail
  rfqmath/testdata/rapid/TestConversionMsat_units_to_msat/TestConversionMsat_units_to_msat-20240820195405-19290.fail
  rfqmath/testdata/rapid/TestConversionMsat_units_to_msat/TestConversionMsat_units_to_msat-20240820195451-19659.fail
  rfqmath/testdata/rapid/TestConversionMsat_units_to_msat/TestConversionMsat_units_to_msat-20240820195640-20028.fail
  rfqmath/testdata/rapid/TestConversionMsat_units_to_msat/TestConversionMsat_units_to_msat-20240820195835-21008.fail
  rfqmath/testdata/rapid/TestConversionMsat_units_to_msat/TestConversionMsat_units_to_msat-20240820195942-21560.fail
  rfqmath/testdata/rapid/TestConversionMsat_units_to_msat/TestConversionMsat_units_to_msat-20240820200033-22032.fail
  rfqmath/testdata/rapid/TestConversionMsat_units_to_msat/TestConversionMsat_units_to_msat-20240820200108-22231.fail
  rfqmath/testdata/rapid/TestConversionMsat_units_to_msat/TestConversionMsat_units_to_msat-20240820200151-22503.fail
  rfqmath/testdata/rapid/TestConversionMsat_units_to_msat/TestConversionMsat_units_to_msat-20240820200210-22739.fail
  rfqmath/testdata/rapid/TestConversionMsat_units_to_msat/TestConversionMsat_units_to_msat-20240820200252-23305.fail
  rfqmath/testdata/rapid/TestConversionMsat_units_to_msat/TestConversionMsat_units_to_msat-20240820200301-23438.fail
  rfqmath/testdata/rapid/TestConversionMsat_units_to_msat/TestConversionMsat_units_to_msat-20240820200331-23865.fail
  rfqmath/testdata/rapid/TestConversionMsat_units_to_msat/TestConversionMsat_units_to_msat-20240820200353-24465.fail
  rfqmath/testdata/rapid/TestDivision_go_uint_64/TestDivision_go_uint_64-20240820172016-73584.fail
  rfqmath/testdata/rapid/TestFixedPoint_division/TestFixedPoint_division-20240820184638-95557.fail
  rfqmath/testdata/rapid/TestFixedPoint_division/TestFixedPoint_division-20240820185145-96965.fail
  rfqmath/testdata/rapid/TestFixedPoint_division/TestFixedPoint_division-20240820185548-97845.fail
  rfqmath/testdata/rapid/TestFixedPoint_division/TestFixedPoint_division-20240820190729-1824.fail
  rfqmath/testdata/rapid/TestFixedPoint_division/TestFixedPoint_division-20240820190932-2693.fail
  rfqmath/testdata/rapid/TestFixedPoint_division/TestFixedPoint_division-20240820191700-4540.fail
  rfqmath/testdata/rapid/TestFixedPoint_division/TestFixedPoint_division-20240820191737-4783.fail
  rfqmath/testdata/rapid/TestFixedPoint_division/TestFixedPoint_division-20240820191814-4986.fail
  rfqmath/testdata/rapid/TestFixedPoint_from_uint64/TestFixedPoint_from_uint64-20240913124134-254478.fail
  rfqmath/testdata/rapid/TestFixedPoint_multiplication/TestFixedPoint_multiplication-20240820183255-91468.fail
  rfqmath/testdata/rapid/TestFixedPoint_multiplication/TestFixedPoint_multiplication-20240820183614-92659.fail
  rfqmath/testdata/rapid/TestFixedPoint_scale_to/TestFixedPoint_scale_to-20240913124134-254478.fail
  rfqmath/testdata/rapid/TestToFromFloat_big_int/TestToFromFloat_big_int-20240820174201-79554.fail
  rfqmath/testdata/rapid/TestToFromFloat_go_uint_64/TestToFromFloat_go_uint_64-20240820174201-79554.fail
Labels: bug fix, P0

#1124 RFQ cleanup
  rfqmsg/records.go
  rfqmsg/reject.go
  rfqmsg/reject_test.go
  rfqmsg/sell_accept.go
Labels: refactoring

#1120 Tap channels liquidity fixes
  go.mod
  go.sum
  server.go
  tapchannel/aux_traffic_shaper.go
  tapchannel/commitment.go
Labels: tap-channels

#1119 Add 'include_leased' flag to ListBalances
  cmd/tapcli/assets.go
  itest/assertions.go
  itest/assets_test.go
  itest/test_list_on_test.go
  rpcserver.go
  tapdb/asset_minting_test.go
  tapdb/assets_store.go
  tapdb/assets_store_test.go
  tapdb/sqlc/assets.sql.go
  tapdb/sqlc/querier.go
  tapdb/sqlc/queries/assets.sql
  taprpc/taprootassets.pb.go
  taprpc/taprootassets.proto
  taprpc/taprootassets.swagger.json
Labels: cli, ux

#1137 rfqmath: clarify scale requirement in FixedPoint Mul and Div docs
  rfqmath/fixed_point.go
Labels: documentation

#1135 Add fixed-point `WithinTolerance` method and greater-than operators
  rfq/negotiator.go
  rfqmath/arithmetic.go
  rfqmath/fixed_point.go
  rfqmath/fixed_point_test.go
Labels: bLIP, rfq

#1131 Align RFQ reject message with BLIP
  rfqmsg/messages.go
  rfqmsg/reject.go
  rfqmsg/reject_test.go
  taprpc/marshal.go
Labels: rfq, tap-channels
