Repository lightninglabs/taproot-assets, pull requests merged in 2024-02, with the labels that each got.

#784 tapdb: fix migration 15
  tapdb/migrations_test.go
  tapdb/sqlc/migrations/000015_asset_witnesses.up.sql
  tapdb/testdata/migrations_test_00015_dummy_data.sql
Labels: database, bug fix

#779 vPSBT: add sighash support (no version bump)
  itest/psbt_test.go
  itest/test_list_on_test.go
  tapcfg/server.go
  tapfreighter/wallet.go
  tapscript/interface.go
  tapscript/send.go
  tapscript/send_test.go
  tx_validator.go
  vm/testdata/vm_validation_generated.json
  vm/testdata/vm_validation_generated_error_cases.json
  vm/vm.go
  vm/vm_test.go
Labels: psbt, VM, sighash

#799 [preparation 1/2]: refactor to simplify send logic, prepare for new RPCs
  address/encoding.go
  address/records.go
  itest/psbt_test.go
  itest/tapd_harness.go
  log.go
  proof/archive_test.go
  proof/courier_test.go
  proof/mint.go
  proof/mock.go
  proof/proof_test.go
  proof/verifier.go
  rpcserver.go
  tapdb/assets_store.go
  tapfreighter/chain_porter.go
  tapfreighter/interface.go
  tapfreighter/parcel.go
  tapfreighter/wallet.go
  tapgarden/caretaker.go
  tapgarden/mock.go
  tapgarden/planter_test.go
  tappsbt/address.go
  tappsbt/decode.go
  tappsbt/decode_test.go
  tappsbt/encode.go
  tappsbt/interface.go
  tappsbt/mock.go
  tappsbt/testdata/odd-block.hex
  tappsbt/testdata/psbt_encoding_generated.json
  tapscript/tx.go
  tapsend/log.go
  tapsend/send.go
  tapsend/send_test.go
Labels: refactoring

#768 tapgarden: tapscript tree support for minting anchor outputs
  address/address.go
  address/address_test.go
  address/mock.go
  address/records.go
  asset/asset.go
  asset/asset_test.go
  asset/encoding.go
  asset/interface.go
  asset/mock.go
  commitment/encoding.go
  commitment/tap.go
  commitment/taproot.go
  commitment/taproot_test.go
  fn/either.go
  fn/option.go
  internal/test/helpers.go
  itest/assertions.go
  itest/assets_test.go
  itest/psbt_test.go
  itest/round_trip_send_test.go
  itest/test_list_on_test.go
  itest/utils.go
  proof/mint.go
  proof/mock.go
  proof/proof_test.go
  proof/records.go
  proof/taproot.go
  rpcserver.go
  tapcfg/server.go
  tapdb/asset_minting.go
  tapdb/asset_minting_test.go
  tapdb/assets_common.go
  tapdb/assets_store.go
  tapdb/sqlc/assets.sql.go
  tapdb/sqlc/migrations/000016_tapscript_trees.down.sql
  tapdb/sqlc/migrations/000016_tapscript_trees.up.sql
  tapdb/sqlc/models.go
  tapdb/sqlc/querier.go
  tapdb/sqlc/queries/assets.sql
  tapgarden/batch.go
  tapgarden/caretaker.go
  tapgarden/interface.go
  tapgarden/mock.go
  tapgarden/planter.go
  tapgarden/planter_test.go
  tappsbt/mock.go
  taprpc/mintrpc/mint.pb.go
  taprpc/mintrpc/mint.proto
  taprpc/mintrpc/mint.swagger.json
  taprpc/taprootassets.pb.go
  taprpc/taprootassets.proto
  tapsend/send_test.go
Labels: tapscript

#767 A minimal version of the RFQ system
  asset/encoding.go
  chain_bridge.go
  config.go
  itest/interface.go
  itest/loadtest/utils.go
  itest/rfq_test.go
  itest/tapd_harness.go
  itest/test_harness.go
  itest/test_list_on_test.go
  log.go
  perms/perms.go
  rfq/log.go
  rfq/manager.go
  rfq/negotiator.go
  rfq/oracle.go
  rfq/order.go
  rfq/stream.go
  rfqmsg/accept.go
  rfqmsg/accept_test.go
  rfqmsg/messages.go
  rfqmsg/reject.go
  rfqmsg/request.go
  rfqmsg/request_test.go
  rpcserver.go
  server.go
  tapcfg/server.go
  taprpc/gen_protos.sh
  taprpc/rfqrpc/rfq.pb.go
  taprpc/rfqrpc/rfq.pb.gw.go
  taprpc/rfqrpc/rfq.pb.json.go
  taprpc/rfqrpc/rfq.proto
  taprpc/rfqrpc/rfq.swagger.json
  taprpc/rfqrpc/rfq.yaml
  taprpc/rfqrpc/rfq_grpc.pb.go
Labels: payment-channel, rfq
