Repository lightninglabs/taproot-assets, pull requests merged in 2025-04, with the labels that each got.

#1474 Add method `Proof.Bytes`
  proof/courier.go
  proof/file.go
  proof/proof.go
  proof/proof_test.go
  rpcserver.go
  tapchannel/auf_leaf_signer_test.go
  tapchannel/aux_funding_controller.go
  tapchannelmsg/records_test.go
  tapchannelmsg/wire_msgs_test.go
  tapdb/assets_store.go
  tapdb/assets_store_test.go
  tapdb/sqlutils_test.go
  tapdb/universe_test.go
  tapfreighter/parcel.go
  tapgarden/caretaker.go
  tapgarden/planter.go
  tappsbt/encode.go
Labels: code health

#1456 tapdb+universe: implement new Universe tree for 1st party burns
  rpcserver.go
  tapdb/burn_tree.go
  tapdb/burn_tree_test.go
  tapdb/ignore_tree.go
  tapdb/ignore_tree_test.go
  tapdb/multiverse.go
  tapdb/sqlutils_test.go
  tapdb/universe.go
  tapdb/universe_federation.go
  tapdb/universe_federation_test.go
  tapdb/universe_test.go
  tapgarden/caretaker.go
  tapgarden/custodian_test.go
  tapgarden/planter.go
  universe/base.go
  universe/interface.go
Labels: universe

#1467 mssmt: add new Copy method and InsertMany to optimize slightly
  mssmt/compacted_tree.go
  mssmt/interface.go
  mssmt/tree.go
  mssmt/tree_test.go
Labels: ms-smt

#1468 Add Transfer Label Support for Asset Sends
  itest/addrs_test.go
  itest/assertions.go
  itest/utils.go
  rpcserver.go
  tapdb/assets_store.go
  tapdb/migrations.go
  tapdb/sqlc/migrations/000032_asset_transfer_label.down.sql
  tapdb/sqlc/migrations/000032_asset_transfer_label.up.sql
  tapdb/sqlc/models.go
  tapdb/sqlc/queries/transfers.sql
  tapdb/sqlc/schemas/generated_schema.sql
  tapdb/sqlc/transfers.sql.go
  tapfreighter/chain_porter.go
  tapfreighter/interface.go
  tapfreighter/parcel.go
  taprpc/assetwalletrpc/assetwallet.swagger.json
  taprpc/taprootassets.pb.go
  taprpc/taprootassets.proto
  taprpc/taprootassets.swagger.json
Labels: transfers, sending

#1448 Allow setting sats/msats to `taprpc.AddInvoice`
  rfq/manager.go
  rfqmath/fixed_point.go
  rfqmath/fixed_point_test.go
  rpcserver.go
  taprpc/tapchannelrpc/tapchannel.pb.go
  taprpc/tapchannelrpc/tapchannel.proto
  taprpc/tapchannelrpc/tapchannel.swagger.json
Labels: ux, P1, invoices, payments

#1479 basic-price-oracle: clarify price oracle demo asset rate documentation
  docs/examples/basic-price-oracle/main.go
Labels: documentation, oracle
