Repository lightninglabs/taproot-assets, pull requests merged in 2025-02, with the labels that each got.

#1375 scripts: exclude ./itest/chantools from YAML Go version linter
  scripts/check-go-version-yaml.sh
Labels: code health

#1365 RFQ accept price qualify bug
  rfq/mock.go
  rfq/negotiator.go
  rfq/negotiator_test.go
  rfq/oracle.go
Labels: bug, rfq, unit-test

#1377 rfqmath: Improve WithinTolerance doc and handle zero coefficient edge case
  rfq/negotiator.go
  rfqmath/fixed_point.go
  rfqmath/fixed_point_test.go
Labels: rfq

#1380 Proof of Concept: Simplifying Concurrency with `ContextGuard.Goroutine`
  fn/context_guard.go
  rfq/negotiator.go
Labels: code health

#1396 Refactor Group Key Code
  asset/asset.go
  asset/group_key.go
  rpcserver.go
  tapgarden/planter.go
  tapgarden/planter_test.go
  taprpc/marshal.go
Labels: code health, group_key

#1387 tapdb+sqlc: sqlc: add script to merge SQL migrations into consolidated schemas
  .gitignore
  Makefile
  cmd/merge-sql-schemas/main.go
  tapdb/sqlc/schemas/generated_schema.sql
Labels: database, sqlc

#1404 Remove redundant PayToTaprootScript functions
  itest/utils.go
  tapchannel/allocation.go
  tapdb/asset_minting_test.go
  tapgarden/batch.go
  tapgarden/custodian_test.go
  tappsbt/encode.go
  tapscript/tx.go
  tapscript/util.go
Labels: code health

#1172 Implement PrevId[] UTXO selection for FundVirtualPSBT RPC method; valid for single PrevId at first
  itest/assets_test.go
  rpcserver.go
  tapdb/assets_store.go
  tapfreighter/chain_porter.go
  tapfreighter/coin_select.go
  tapfreighter/interface.go
  tapfreighter/wallet.go
  tapsend/send.go
Labels: psbt

#1400 proof: add new IgnoreChecker proof rejection cache
  itest/assertions.go
  itest/utils.go
  proof/append.go
  proof/append_test.go
  proof/archive.go
  proof/archive_test.go
  proof/backward_compat_test.go
  proof/mint.go
  proof/mint_test.go
  proof/mock.go
  proof/proof_stitching_test.go
  proof/proof_test.go
  proof/verifier.go
  rpcserver.go
  tapchannel/aux_funding_controller.go
  tapchannel/aux_sweeper.go
  tapdb/assets_store.go
  tapdb/assets_store_test.go
  tapdb/sqlutils_test.go
  tapfreighter/chain_porter.go
  tapgarden/caretaker.go
  tapgarden/custodian.go
  tapgarden/custodian_test.go
  tapgarden/planter.go
  tapgarden/re-org_watcher.go
  tapsend/proof_test.go
  tapsend/send_test.go
  universe/base.go
Labels: enhancement, proofs, unified universe commitment
