Repository lightninglabs/taproot-assets, pull requests merged in 2025-07, with the labels that each got.

#1638 tapdb: support delegation key and universe commitment flag in seedlings
  tapdb/asset_minting.go
  tapdb/asset_minting_test.go
  tapdb/migrations.go
  tapdb/sqlc/assets.sql.go
  tapdb/sqlc/migrations/000041_seedling_uni_commit.down.sql
  tapdb/sqlc/migrations/000041_seedling_uni_commit.up.sql
  tapdb/sqlc/models.go
  tapdb/sqlc/queries/assets.sql
  tapdb/sqlc/schemas/generated_schema.sql
Labels: database, unified universe commitment

#1621 [group key addrs 5/6]: Add Pedersen unique script key type
  address/book.go
  address/book_test.go
  asset/asset.go
  authmailbox/client_test.go
  authmailbox/mock.go
  authmailbox/multi_subscription.go
  authmailbox/receive_subscription.go
  itest/script_key_type_test.go
  itest/test_list_on_test.go
  proof/encoding.go
  proof/records.go
  proof/send.go
  proof/send_test.go
  rpcserver.go
  rpcutils/marshal.go
  scripts/gen_sqlc_docker.sh
  tapdb/addrs.go
  tapdb/addrs_test.go
  tapdb/assets_store.go
  tapdb/post_migration_checks.go
  tapdb/sqlc/addrs.sql.go
  tapdb/sqlc/assets.sql.go
  tapdb/sqlc/authmailbox.sql.go
  tapdb/sqlc/db.go
  tapdb/sqlc/db_custom.go
  tapdb/sqlc/macaroons.sql.go
  tapdb/sqlc/metadata.sql.go
  tapdb/sqlc/models.go
  tapdb/sqlc/mssmt.sql.go
  tapdb/sqlc/querier.go
  tapdb/sqlc/queries/addrs.sql
  tapdb/sqlc/queries/assets.sql
  tapdb/sqlc/supply_commit.sql.go
  tapdb/sqlc/supply_tree.sql.go
  tapdb/sqlc/transfers.sql.go
  tapdb/sqlc/universe.sql.go
  taprpc/assetwalletrpc/assetwallet.swagger.json
  taprpc/mintrpc/mint.swagger.json
  taprpc/taprootassets.pb.go
  taprpc/taprootassets.proto
  taprpc/taprootassets.swagger.json
  taprpc/universerpc/universe.swagger.json
Labels: scripts, addrs, group_key

#1651 itest: convert AssertBalanceByID to eventually-style call
  .github/workflows/main.yaml
  asset/asset.go
  asset/records.go
  itest/addrs_test.go
  itest/assertions.go
  itest/test_list_on_test.go
Labels: testing

#1668 Refactor: move LND-related services into new `lndservices` package
  config.go
  itest/mint_fund_seal_test.go
  itest/utils.go
  lnd_services.go
  lndservices/chain_bridge.go
  lndservices/daemon_adapters.go
  lndservices/feature_bit_verifier.go
  lndservices/invoices_client.go
  lndservices/key_ring.go
  lndservices/log.go
  lndservices/msg_transport_client.go
  lndservices/psbt_channel_funder.go
  lndservices/router_client.go
  lndservices/virtual_tx_signer.go
  lndservices/wallet_anchor.go
  log.go
  tapcfg/server.go
  tx_validator.go
Labels: refactoring, lnd
