Repository lightninglabs/taproot-assets, pull requests merged in 2025-05, with the labels that each got.

#1506 rfq: store outgoing request before sending message
  .github/workflows/main.yaml
  rfq/stream.go
Labels: bug fix, flake

#1505 channels: fix coop close asset distribution for grouped asset channels
  tapchannel/aux_closer.go
  tapchannel/commitment.go
  tapsend/allocation.go
Labels: bug fix, tap-channels

#1509 rfq+rpcserver: match event to order
  rfq/manager.go
  rpcserver.go
Labels: bug fix, rfq

#1500 monitoring: expand Prometheus buckets for RPC endpoint latency
  monitoring/monitoring_on.go
Labels: gRPC, monitoring

#1494 fix itest flake: allow AssertNonInteractiveRecvComplete more time to execute
  itest/assertions.go
  itest/send_test.go
  itest/tapd_harness.go
Labels: itests, CI

#1532 rpcserver: stop SendPayment update stream when payment fails
  rpcserver.go
Labels: gRPC, ux, payments

#1536 Fix panic when listing unfunded pending batch with verbose
  itest/assets_test.go
  tapgarden/planter.go
  taprpc/mintrpc/mint.pb.go
  taprpc/mintrpc/mint.proto
  taprpc/mintrpc/mint.swagger.json
Labels: bug, minting, gRPC

#1537 tapchannel: don't break backward compatibility
  tapchannel/aux_closer.go
  tapchannel/commitment.go
  tapsend/allocation_test.go
Labels: P0

#1530 Add support for skipping anchor transaction broadcast during asset transfer
  itest/mint_fund_seal_test.go
  itest/multi_send_test.go
  itest/multisig.go
  itest/psbt_test.go
  rpcserver.go
  tapchannel/aux_closer.go
  tapchannel/aux_funding_controller.go
  tapdb/assets_store.go
  tapdb/migrations.go
  tapdb/sqlc/migrations/000035_asset_transfers_skip_anchor_broadcast.down.sql
  tapdb/sqlc/migrations/000035_asset_transfers_skip_anchor_broadcast.up.sql
  tapdb/sqlc/models.go
  tapdb/sqlc/queries/transfers.sql
  tapdb/sqlc/schemas/generated_schema.sql
  tapdb/sqlc/transfers.sql.go
  tapfreighter/chain_porter.go
  tapfreighter/interface.go
  tapfreighter/parcel.go
  taprpc/assetwalletrpc/assetwallet.pb.go
  taprpc/assetwalletrpc/assetwallet.proto
  taprpc/assetwalletrpc/assetwallet.swagger.json
  taprpc/taprootassets.pb.go
  taprpc/taprootassets.proto
  taprpc/taprootassets.swagger.json
Labels: transfers

#1544 tapgarden: increase unit test default timeout from 10s to 30s
  tapgarden/planter_test.go
Labels: unit-test

#1541 Refactor in Preparation for Ignore Tree RPC Endpoints
  asset/asset.go
  itest/assets_test.go
  proof/archive.go
  proof/mock.go
  rpcserver.go
  rpcutils/marshal.go
  tapcfg/server.go
  tapdb/ignore_tree.go
  tapdb/universe.go
  tapdb/universe_test.go
  universe/archive.go
  universe/ignore_records.go
  universe/interface.go
Labels: gRPC, unified universe commitment

#1453 Proof-system-v1
  asset/asset.go
  itest/assertions.go
  itest/psbt_test.go
  itest/test_list_on_test.go
  proof/append.go
  proof/append_test.go
  proof/encoding.go
  proof/encoding_test.go
  proof/mint.go
  proof/mock.go
  proof/proof.go
  proof/records.go
  proof/taproot.go
  proof/testdata/ownership-proof.hex
  proof/testdata/proof-file.hex
  proof/testdata/proof.hex
  proof/testdata/proof_tlv_encoding_generated.json
  proof/testdata/proof_tlv_encoding_regtest.json
  proof/verifier.go
  proof/verifier_test.go
  tapchannel/aux_closer.go
  tapchannel/aux_funding_controller.go
  tapchannel/aux_sweeper.go
  tapchannel/commitment.go
  tapfreighter/fund.go
  tapfreighter/wallet.go
  tappsbt/decode.go
  tappsbt/decode_test.go
  tappsbt/encode.go
  tappsbt/interface.go
  tappsbt/mock.go
  tappsbt/testdata/psbt_encoding_generated.json
  tapsend/proof.go
  tapsend/proof_test.go
  tapsend/send.go
  tapsend/send_test.go
Labels: proofs, P0
