Repository lightninglabs/taproot-assets, pull requests merged in 2025-06, with the labels that each got.

#1585 chain_bridge+fn: add retry logic for RPC calls to improve reliability in load-balanced environments
  chain_bridge.go
  fn/retry.go
  fn/retry_test.go
Labels: enhancement, claude-codes

#1601 bugfix: fix btc-only balance force close, fix incorrect policy in invoice hop hint
  go.mod
  rpcserver.go
  tapchannel/commitment.go
Labels: bug fix, payment-channel, tap-channels, P0

#1606 rpcserver: enforce keysend minimum carrier HTLC amount
  itest/channels_test.go
  rpcserver.go
Labels: bug fix, P0

#1502 [group key addrs 1/?]: add new authmailbox RPC server and client
  authmailbox/client.go
  authmailbox/client_test.go
  authmailbox/log.go
  authmailbox/marshal.go
  authmailbox/message.go
  authmailbox/mock.go
  authmailbox/receive_subscription.go
  authmailbox/server.go
  authmailbox/stream.go
  internal/test/grpc.go
  internal/test/mock.go
  proof/mock.go
  proof/tx.go
  proof/tx_test.go
  taprpc/assetwalletrpc/assetwallet.pb.go
  taprpc/assetwalletrpc/assetwallet.proto
  taprpc/assetwalletrpc/assetwallet.swagger.json
  taprpc/authmailboxrpc/mailbox.pb.go
  taprpc/authmailboxrpc/mailbox.pb.gw.go
  taprpc/authmailboxrpc/mailbox.proto
  taprpc/authmailboxrpc/mailbox.swagger.json
  taprpc/authmailboxrpc/mailbox.yaml
  taprpc/authmailboxrpc/mailbox_grpc.pb.go
  taprpc/gen_protos.sh
  taprpc/tapcommon.pb.go
  taprpc/tapcommon.proto
  taprpc/tapcommon.swagger.json
  taprpc/tapcommon.yaml
  taprpc/taprootassets.pb.go
  taprpc/taprootassets.proto
  taprpc/taprootassets.swagger.json
  taprpc/utils.go
Labels: P1

#1464 universe/supplycommit: create new state machine responsible for maintaining the supply commitment for an asset
  asset/generators.go
  go.mod
  go.sum
  universe/ignore_records.go
  universe/interface.go
  universe/supplycommit/README.md
  universe/supplycommit/env.go
  universe/supplycommit/mock.go
  universe/supplycommit/state_machine_test.go
  universe/supplycommit/states.go
  universe/supplycommit/transitions.go
Labels: enhancement, P0, unified universe commitment

#1507 tapdb: add implementation of supplycommit.SupplyTreeView
  tapdb/burn_tree.go
  tapdb/burn_tree_test.go
  tapdb/ignore_tree.go
  tapdb/ignore_tree_test.go
  tapdb/migrations.go
  tapdb/multiverse.go
  tapdb/sqlc/migrations/000038_supply_tree.down.sql
  tapdb/sqlc/migrations/000038_supply_tree.up.sql
  tapdb/sqlc/models.go
  tapdb/sqlc/querier.go
  tapdb/sqlc/queries/supply_tree.sql
  tapdb/sqlc/schemas/generated_schema.sql
  tapdb/sqlc/supply_tree.sql.go
  tapdb/supply_tree.go
  tapdb/supply_tree.md
  tapdb/supply_tree_test.go
  tapdb/universe.go
  universe/interface.go
Labels: universe, supply tree
